@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  max-width: 500px
  font-family: 'Open Sans', sans-serif;
  color: darkgrey;
  }

  @media only screen and (max-width: 40em) {
  body {
    background: darkred;
  }
  #hero {
    height: 300px;
    background: #FAEBD7;
    border: 2px solid pink;
    margin: 15px;

  }

  #super_heroes {
    background: #DEB887;
    border: 2px solid red;
    margin: auto;
    padding: 15px;
    
  } 

  #super_heroes li:nth-child(1) {
    background-image: url("http://www.gannett-cdn.com/-mm-/31aeaad1c6d6fe2438eb753b54fa5c29c7431e10/c=23-315-2004-2965&r=537&c=0-0-534-712/local/-/media/USATODAY/USATODAY/2014/06/30/1404161899000-WONDER-WOMAN-36-COMICS-JY-665--65511024.JPG");
    margin: auto;
    background-repeat: no-repeat;
    height: 400px;

    
  }

  #super_heroes li:nth-child(2) {
    background-image: url("http://img3.wikia.nocookie.net/__cb20130131055242/marvel_dc/images/d/d3/Starfire_007.jpg");
    background-repeat: no-repeat;
    height: 300px;
  }

  #super_heroes li:nth-child(3) {
    background-image: url("http://4.bp.blogspot.com/-iF3KmDzT1wQ/TXm2bDegz3I/AAAAAAAAC7E/pSuLKoVk5-s/s1600/016.jpg");
    background-repeat: no-repeat;    
    background-size: 400px 400px;
    height: 400px;
  }

}

@media only screen and (min-width: 40.063em) and (max-width:60em) {

  body {
    background: #66CC99;
  }
  
  #hero {
    height: 200px;
    background: #99FFFF;
    border: 3px solid #6699FF;
    margin: auto;
  }

  #super_heroes {
    height: auto;
    background: #99FFFF;
    margin: auto;
    border: 3px solid #66CCFF;
  }
  

  #super_heroes li:nth-child(1) {
    background-image: url("http://www.gannett-cdn.com/-mm-/31aeaad1c6d6fe2438eb753b54fa5c29c7431e10/c=23-315-2004-2965&r=537&c=0-0-534-712/local/-/media/USATODAY/USATODAY/2014/06/30/1404161899000-WONDER-WOMAN-36-COMICS-JY-665--65511024.JPG");
    margin: auto;
    background-repeat: no-repeat;
    height: 400px;
    
  }

  #super_heroes li:nth-child(2) {
    background-image: url("http://img3.wikia.nocookie.net/__cb20130131055242/marvel_dc/images/d/d3/Starfire_007.jpg");
    background-repeat: no-repeat;
    height: 300px;
  }

  #super_heroes li:nth-child(3) {
    background-image: url("http://4.bp.blogspot.com/-iF3KmDzT1wQ/TXm2bDegz3I/AAAAAAAAC7E/pSuLKoVk5-s/s1600/016.jpg");
    background-repeat: no-repeat;    
    background-size: 400px 400px;
    height: 400px;
  }

}
@media only screen and (min-width: 60.063em){

  body {
    background: #66FFFF;
  }

  #container {
    border: 3px solid #339999;
    background: #66FFCC;
  }

  #hero {
    max-height: 300px;
    background: #66FF99;
  }
  
  #super_heroes li:nth-child(1) {
    background-image: url("http://www.gannett-cdn.com/-mm-/31aeaad1c6d6fe2438eb753b54fa5c29c7431e10/c=23-315-2004-2965&r=537&c=0-0-534-712/local/-/media/USATODAY/USATODAY/2014/06/30/1404161899000-WONDER-WOMAN-36-COMICS-JY-665--65511024.JPG");
    background-repeat: no-repeat;
    height: 400px;
    
  }

  #super_heroes li:nth-child(2) {
    background-image: url("http://img3.wikia.nocookie.net/__cb20130131055242/marvel_dc/images/d/d3/Starfire_007.jpg");
    background-repeat: no-repeat;
    height: 300px;
  }

  #super_heroes li:nth-child(3) {
    background-image: url("http://4.bp.blogspot.com/-iF3KmDzT1wQ/TXm2bDegz3I/AAAAAAAAC7E/pSuLKoVk5-s/s1600/016.jpg");
    background-repeat: no-repeat;   
    background-size: 400px 400px; 
    height: 400px;
  }
}

